gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/gradle.properties
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# App bundles and apks
**/*.apk
**/*.aab

# Environment builds
**/*output-metadata.json

# Firebase
app/google-services.json

# Environment variable
*.env

# Fastlane
fastlane-service-account-google-developer-console.json

# Solana
publishing/node_modules
publishing/solana-keypair.json
publishing/.asset-manifest.json

# CXX
*.cxx